.adminpage__wrapper{
    background-color: #3ef065;
    display: flex;
    min-height: 100vh;
}

.admin_sidebar{
    flex: 0 1 30%;
}

.admin_children{
    flex: 0 1 70%;
}

.users__container{

    ul{
        display: flex;
        flex-direction: column;
        gap: 15px;

        li{
            list-style: none;
        }

        a{
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: tomato;
        }
    }
}