.header{
    height: 100px;
    background-color: tomato;
  
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #ea66fc  ;
}

.header__navigation{

    nav{
        a{
            text-decoration: none;
            color: yellow;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
}